body {
  font-family: 'Montserrat', sans-serif;
}

.output {
  height: 60px;
}

.fa-input {
  text-align: center;
  font-size: 30px;
}

/* #map {
  height: 360px;
} */

.expense-chart {
  margin-top: 260px;
}
